allarme-core/nodered/mosaico_immagini.json
[
    {
        "id": "sf_mosaico_v1",
        "type": "subflow",
        "name": "Mosaico Immagini",
        "info": "# Mosaico Immagini\n\nCompone N immagini in un mosaico con layout automatico.\n\n## Input\n`msg.payload` = array di **Buffer** (immagini gia scaricate)\n\nPer scaricare da URL usare il pattern nel tab di esempio:\n`inject URLs` → `split` → `fn:prepURL` → `http request` → `join` → `subflow`\n\n## Output 1\n- `msg.payload` = Buffer JPEG\n- `msg.imageDataUrl` = `data:image/jpeg;base64,...`\n- `msg.ImmagineUrl` = alias (compatibilita flusso precedente)\n- `msg.mosaico` = `{totalImages, cols, rows, canvasWidth, canvasHeight, thumbSize, fileSize}`\n\n## Output 2\n- `msg.error` = descrizione errore\n\n## Layout automatico\n1=1x1 | 2=2x1 | 3=3x1 | 4=2x2 | 5-6=3x2 | 7-8=4x2 | 9=3x3 | 10-12=4x3 | 13-16=4x4\n\n## Dipendenze\nSolo `sharp` (gia installato).",
        "category": "custom",
        "in": [
            {
                "x": 80,
                "y": 140,
                "wires": [{"id": "fn_mosaico_core"}]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 100,
                "wires": [{"id": "fn_mosaico_core", "port": 0}]
            },
            {
                "x": 820,
                "y": 180,
                "wires": [{"id": "fn_mosaico_core", "port": 1}]
            }
        ],
        "env": [
            {
                "name": "THUMB_W",
                "type": "num",
                "value": "500",
                "ui": {"label": {"en-US": "Larghezza thumbnail (px)"}, "type": "spinner", "opts": {"min": 100, "max": 3000}}
            },
            {
                "name": "THUMB_H",
                "type": "num",
                "value": "500",
                "ui": {"label": {"en-US": "Altezza thumbnail (px)"}, "type": "spinner", "opts": {"min": 100, "max": 3000}}
            },
            {
                "name": "PADDING",
                "type": "num",
                "value": "4",
                "ui": {"label": {"en-US": "Padding tra immagini (px)"}, "type": "spinner", "opts": {"min": 0, "max": 50}}
            },
            {
                "name": "JPEG_QUALITY",
                "type": "num",
                "value": "90",
                "ui": {"label": {"en-US": "Qualita JPEG (1-100)"}, "type": "spinner", "opts": {"min": 1, "max": 100}}
            }
        ],
        "meta": {
            "module": "mosaico-immagini",
            "version": "3.0.0",
            "author": "HomeAssistant Engineering",
            "desc": "Compone N Buffer immagini in mosaico con layout automatico"
        },
        "color": "#87A980",
        "icon": "font-awesome/fa-th"
    },
    {
        "id": "fn_mosaico_core",
        "type": "function",
        "z": "sf_mosaico_v1",
        "name": "Compose Mosaico",
        "func": "// Mosaico Immagini - Composizione con sharp\n// Input: msg.payload = array di Buffer (immagini gia scaricate)\n// Output[0]: Buffer JPEG  |  Output[1]: errore\n// Dipende solo da sharp (libs) - nessun require() necessario\n\nvar buffers = Array.isArray(msg.imageBuffers) ? msg.imageBuffers\n            : Array.isArray(msg.payload)       ? msg.payload\n            : null;\n\nif (!buffers || buffers.length === 0) {\n    msg.error = 'msg.payload deve essere un array di Buffer.';\n    node.warn(msg.error);\n    return [null, msg];\n}\n\nbuffers = buffers.filter(function(b) { return Buffer.isBuffer(b); });\nif (buffers.length === 0) {\n    msg.error = 'Nessun Buffer valido trovato. Assicurarsi che i download siano completati prima di passare al subflow.';\n    node.warn(msg.error);\n    return [null, msg];\n}\n\nvar n = buffers.length;\n\nfunction calcLayout(count) {\n    if (count === 1)  return { cols: 1, rows: 1 };\n    if (count === 2)  return { cols: 2, rows: 1 };\n    if (count === 3)  return { cols: 3, rows: 1 };\n    if (count === 4)  return { cols: 2, rows: 2 };\n    if (count <= 6)   return { cols: 3, rows: 2 };\n    if (count <= 8)   return { cols: 4, rows: 2 };\n    if (count <= 9)   return { cols: 3, rows: 3 };\n    if (count <= 12)  return { cols: 4, rows: 3 };\n    if (count <= 16)  return { cols: 4, rows: 4 };\n    var c = Math.ceil(Math.sqrt(count));\n    return { cols: c, rows: Math.ceil(count / c) };\n}\n\nvar layout = calcLayout(n);\nvar cols   = layout.cols;\nvar rows   = layout.rows;\n\nvar THUMB_W = env.get('THUMB_W') || 500;\nvar THUMB_H = env.get('THUMB_H') || 500;\nvar PAD     = env.get('PADDING') || 4;\nvar QUALITY = env.get('JPEG_QUALITY') || 90;\nvar totalW  = cols * THUMB_W + (cols + 1) * PAD;\nvar totalH  = rows * THUMB_H + (rows + 1) * PAD;\n\nnode.log('[Mosaico] ' + n + ' buffer => griglia ' + cols + 'x' + rows + ' => ' + totalW + 'x' + totalH + 'px');\n\n(async function() {\n    try {\n        var compositeArr = [];\n        for (var i = 0; i < n; i++) {\n            var col = i % cols;\n            var row = Math.floor(i / cols);\n            var x   = PAD + col * (THUMB_W + PAD);\n            var y   = PAD + row * (THUMB_H + PAD);\n            try {\n                var resized = await sharp(buffers[i])\n                    .resize(THUMB_W, THUMB_H, { fit: 'cover', position: 'centre' })\n                    .toBuffer();\n                compositeArr.push({ input: resized, top: y, left: x });\n            } catch (e) {\n                node.warn('[Mosaico] Errore resize img ' + i + ': ' + e.message);\n            }\n        }\n        var outputBuf = await sharp({\n            create: { width: totalW, height: totalH, channels: 3, background: { r: 26, g: 26, b: 26 } }\n        }).composite(compositeArr).jpeg({ quality: QUALITY }).toBuffer();\n\n        msg.payload      = outputBuf;\n        msg.contentType  = 'image/jpeg';\n        msg.imageDataUrl = 'data:image/jpeg;base64,' + outputBuf.toString('base64');\n        msg.ImmagineUrl  = msg.imageDataUrl;\n        msg.mosaico = {\n            totalImages: n, cols: cols, rows: rows,\n            canvasWidth: totalW, canvasHeight: totalH,\n            thumbSize: THUMB_W + 'x' + THUMB_H,\n            fileSize: outputBuf.length\n        };\n        node.log('[Mosaico] OK: ' + (outputBuf.length / 1024).toFixed(1) + ' KB');\n        node.send([msg, null]);\n    } catch (err) {\n        node.error('[Mosaico] Errore: ' + err.message, msg);\n        msg.error = err.message;\n        node.send([null, msg]);\n    }\n})();\n\nreturn;",
        "outputs": 2,
        "timeout": 60,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [{"var": "sharp", "module": "sharp"}],
        "x": 450,
        "y": 140,
        "wires": [[], []]
    },
    {
        "id": "tab_mosaico_test",
        "type": "tab",
        "label": "Mosaico - Test Generico",
        "disabled": false,
        "info": "Pattern: inject URLs -> split -> fn prepURL -> http request (GET bin) -> join auto -> subflow mosaico"
    },
    {
        "id": "inj_test_2",
        "type": "inject",
        "z": "tab_mosaico_test",
        "name": "Test 2 img (2x1)",
        "props": [{"p": "payload", "v": "[\"https://picsum.photos/800/600?random=1\",\"https://picsum.photos/800/600?random=2\"]", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [["split_test"]]
    },
    {
        "id": "inj_test_4",
        "type": "inject",
        "z": "tab_mosaico_test",
        "name": "Test 4 img (2x2)",
        "props": [{"p": "payload", "v": "[\"https://picsum.photos/800/600?random=1\",\"https://picsum.photos/800/600?random=2\",\"https://picsum.photos/800/600?random=3\",\"https://picsum.photos/800/600?random=4\"]", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [["split_test"]]
    },
    {
        "id": "inj_test_6",
        "type": "inject",
        "z": "tab_mosaico_test",
        "name": "Test 6 img (3x2)",
        "props": [{"p": "payload", "v": "[\"https://picsum.photos/800/600?random=1\",\"https://picsum.photos/800/600?random=2\",\"https://picsum.photos/800/600?random=3\",\"https://picsum.photos/800/600?random=4\",\"https://picsum.photos/800/600?random=5\",\"https://picsum.photos/800/600?random=6\"]", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [["split_test"]]
    },
    {
        "id": "inj_test_9",
        "type": "inject",
        "z": "tab_mosaico_test",
        "name": "Test 9 img (3x3)",
        "props": [{"p": "payload", "v": "[\"https://picsum.photos/800/600?random=1\",\"https://picsum.photos/800/600?random=2\",\"https://picsum.photos/800/600?random=3\",\"https://picsum.photos/800/600?random=4\",\"https://picsum.photos/800/600?random=5\",\"https://picsum.photos/800/600?random=6\",\"https://picsum.photos/800/600?random=7\",\"https://picsum.photos/800/600?random=8\",\"https://picsum.photos/800/600?random=9\"]", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [["split_test"]]
    },
    {
        "id": "split_test",
        "type": "split",
        "z": "tab_mosaico_test",
        "name": "split URLs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 190,
        "wires": [["fn_prep_url_test"]]
    },
    {
        "id": "fn_prep_url_test",
        "type": "function",
        "z": "tab_mosaico_test",
        "name": "prepara URL",
        "func": "// msg.payload e la stringa URL (da split)\nmsg.url = msg.payload;\nmsg.headers = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 190,
        "wires": [["httpreq_test"]]
    },
    {
        "id": "httpreq_test",
        "type": "http request",
        "z": "tab_mosaico_test",
        "name": "download immagine",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 190,
        "wires": [["join_test"]]
    },
    {
        "id": "join_test",
        "type": "join",
        "z": "tab_mosaico_test",
        "name": "raccogli buffer",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 890,
        "y": 190,
        "wires": [["sf_test_inst"]]
    },
    {
        "id": "sf_test_inst",
        "type": "subflow:sf_mosaico_v1",
        "z": "tab_mosaico_test",
        "name": "",
        "env": [],
        "x": 1080,
        "y": 190,
        "wires": [["fn_log_ok_test"], ["fn_log_err_test"]]
    },
    {
        "id": "fn_log_ok_test",
        "type": "function",
        "z": "tab_mosaico_test",
        "name": "Log OK",
        "func": "var m = msg.mosaico;\nnode.warn('[Mosaico] OK: ' + m.totalImages + ' img, ' + m.cols + 'x' + m.rows + ', ' + m.canvasWidth + 'x' + m.canvasHeight + 'px, ' + (m.fileSize/1024).toFixed(1) + ' KB');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 160,
        "wires": [["dbg_ok_test"]]
    },
    {
        "id": "fn_log_err_test",
        "type": "function",
        "z": "tab_mosaico_test",
        "name": "Log Errore",
        "func": "node.error('[Mosaico] ERRORE: ' + msg.error, msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 230,
        "wires": [["dbg_err_test"]]
    },
    {
        "id": "dbg_ok_test",
        "type": "debug",
        "z": "tab_mosaico_test",
        "name": "Info mosaico",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mosaico",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 160,
        "wires": []
    },
    {
        "id": "dbg_err_test",
        "type": "debug",
        "z": "tab_mosaico_test",
        "name": "Errore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 230,
        "wires": []
    },
    {
        "id": "tab_mosaico_ha_cams",
        "type": "tab",
        "label": "Mosaico - Telecamere HA",
        "disabled": false,
        "info": "Pattern per le 6 telecamere HA con Bearer token:\ninject [{url,headers},...] -> split -> fn prepURL+headers -> http request (GET bin) -> join auto -> subflow mosaico"
    },
    {
        "id": "inj_ha_6cams",
        "type": "inject",
        "z": "tab_mosaico_ha_cams",
        "name": "Snapshot 6 telecamere (3x2)",
        "props": [
            {
                "p": "payload",
                "v": "[{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_open_space_grande\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}},{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_falegnameria\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}},{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_esterno_dietro\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}},{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_esterno_davanti\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}},{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_magazzino\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}},{\"url\":\"http://192.168.3.12:8123/api/camera_proxy/camera.telecamera_cantina\",\"headers\":{\"Accept\":\"image/jpeg\",\"Authorization\":\"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0M2FiYmI3M2I3M2U0YTBmOWFhY2ZmZTRhMDgwMTNmNyIsImlhdCI6MTc2MTU3NjUwMSwiZXhwIjoyMDc2OTM2NTAxfQ.KHhrM2dRHyqNSEI3l13RwL5eYiumqnFakzzHoly7T1s\"}}]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [["split_ha"]]
    },
    {
        "id": "split_ha",
        "type": "split",
        "z": "tab_mosaico_ha_cams",
        "name": "split items",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 140,
        "wires": [["fn_prep_url_ha"]]
    },
    {
        "id": "fn_prep_url_ha",
        "type": "function",
        "z": "tab_mosaico_ha_cams",
        "name": "prepara URL + headers",
        "func": "// msg.payload e {url, headers} (da split)\nvar item = msg.payload;\nmsg.url     = item.url;\nmsg.headers = item.headers || {};\nmsg.payload = item.url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [["httpreq_ha"]]
    },
    {
        "id": "httpreq_ha",
        "type": "http request",
        "z": "tab_mosaico_ha_cams",
        "name": "download snapshot HA",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 140,
        "wires": [["join_ha"]]
    },
    {
        "id": "join_ha",
        "type": "join",
        "z": "tab_mosaico_ha_cams",
        "name": "raccogli buffer",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 990,
        "y": 140,
        "wires": [["sf_ha_inst"]]
    },
    {
        "id": "sf_ha_inst",
        "type": "subflow:sf_mosaico_v1",
        "z": "tab_mosaico_ha_cams",
        "name": "Mosaico 6 Cam",
        "env": [],
        "x": 1180,
        "y": 140,
        "wires": [["fn_ha_ok"], ["fn_ha_err"]]
    },
    {
        "id": "fn_ha_ok",
        "type": "function",
        "z": "tab_mosaico_ha_cams",
        "name": "Prepara per Telegram/WhatsApp",
        "func": "var m = msg.mosaico;\nnode.warn('[Mosaico HA] OK: ' + m.totalImages + ' cam, ' + m.cols + 'x' + m.rows + ', ' + (m.fileSize/1024).toFixed(1) + ' KB');\n\n// msg.payload    = Buffer JPEG (per node-red-contrib-telegrambot)\n// msg.imageDataUrl = data:image/jpeg;base64,... (per WhatsApp/altri)\n// msg.ImmagineUrl  = alias flusso precedente\n\n// Esempio Telegram - decommenta e collega a nodo Telegram Sender:\n// msg.payload = {\n//     chatId: 123456789,\n//     type: 'photo',\n//     content: msg.payload,\n//     caption: 'Snapshot ' + new Date().toLocaleString('it-IT')\n// };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 120,
        "wires": [["dbg_ha_ok"]]
    },
    {
        "id": "fn_ha_err",
        "type": "function",
        "z": "tab_mosaico_ha_cams",
        "name": "Gestione Errore",
        "func": "node.error('[Mosaico HA] ERRORE: ' + msg.error, msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 170,
        "wires": [["dbg_ha_err"]]
    },
    {
        "id": "dbg_ha_ok",
        "type": "debug",
        "z": "tab_mosaico_ha_cams",
        "name": "Buffer JPEG + Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mosaico",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 120,
        "wires": []
    },
    {
        "id": "dbg_ha_err",
        "type": "debug",
        "z": "tab_mosaico_ha_cams",
        "name": "Errore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 170,
        "wires": []
    }
]
